*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 18px;
    background-color: rgb(16, 16, 104);
}
header{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
    position: fixed;
}
.menu{
    width: 1000px;
    margin: auto;
    margin-left: 200px;
}
header img{
    width: 120px;
    height: 100px;
    float: left;
    padding: 1px;
}

.menu h1{
    font-size: 60px;
    font-style: italic;
    
}
h1{
    font-size: 40px;
    font-style: italic;
    color: white;
    width: 120px;
    height: 100px;
    float: left;
    padding: 8px;
}
nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 25px;
    padding: 25px 0;
    float:left;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu li a:hover{
	background: rgb(102, 0, 24);
}
h2{
    text-align: center;
}
img{
    width: 1020px;
    height: 600px;
    display:block;
    margin:auto;
    padding: 12px;
}
.Parrafo1 p h4{
    text-align: right;
}
.Parrafo1 img{
    width: 320px;
    height: 250px;
    float: left;
    padding: 12px;
}
.Parrafo2 p h4{
    text-align: right;
}
.Parrafo2 ol li{
    margin: 20px;
    text-align: left;
}
.Parrafo3 p h4{
    text-align: left;
}
.Parrafo3 table{
    border: #8a0000 1px solid;
}
td, th {
    padding-right: 20px;
  border: rgb(255, 0, 0) 1px solid;
}
footer{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
}
.Pie de pagina{
    width: 800px;
    margin: auto;
}
footer h1{
    font-style:normal;
    font-size: 10px;
    color: white;
    width: 120px;
    height: 100px;
    float: right;
    padding: 18px;
}
footer h2{
    font-size: 10px;
    color: white;
    float: left;
    padding: 18px;
}
header nav ul li{
    list-style: none;
    margin-left: 1px;
    margin-top: 25px;
    padding: 10px 0;
    padding-left: 1px;
    float:left;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
}
.menu li a:hover{
	background: rgb(102, 0, 24);
}
.parrafo1 p h4{
    text-align: right;
}
.parrafo1 img{
    width: 320px;
    height: 200px;
    float: left;
    padding: 12px;
}

.objetivos{
    padding-left: 50px;
}

.titulo1{
    padding-left: 50px;
}

.parrafooo1{
    padding-left: 20px;
}

.menu nav ul li a{
    padding: 25px;
}

.docentes{
    padding-left: 200px;
}

.docentes ul li ul{
    padding-left: 50px;
}

h3{
    padding-left: 20px;
}

.profesores{
    padding-left: 100px;
    padding-bottom: 100px;
}

ul{
    color: white;
}