*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 18px;
    background-color: rgb(16, 16, 104);
}
header{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
    position: fixed;

}
.menu{
    width: 1000px;
    margin: auto;
    margin-left: 300px;
    margin-right: 80px;
}

header img{
    width: 120px;
    height: 100px;
    float: left;
}

.menu h1{
    font-size: 40px;
    font-style: italic;
    margin-right: 80px;
}
.escuela h1{
    font-size: 40px;
    color: white;
    width: 20px;
    height: 10px;
    float: left;
    font-style: italic;
    margin-left: 10px;
    margin-right: 20px;

}
nav{
    float: right;
}
header nav ul li{
    list-style: none;
    margin-left: 1px;
    margin-top: 25px;
    padding: 10px 0;
    padding-left: 1px;
    float:left;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu li a:hover{
	background: rgb(102, 0, 24);
}
.container{
    max-width: 450px;
    height: auto;
    background-color: cadetblue;
    margin: 5% auto;
    padding-bottom: 1rem;
}
.form_top{
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem;
    border-top: solid .4rem rgb(0, 0, 0);
    margin-bottom: 1rem;
}
.form_top h2{
    font-weight: bold;
    color: rgb(150, 0, 35);
    font-size: 18px;
}
h2 span{
    color: darkblue;
}
.form_reg{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Nu1{
    flex-direction: row;
}
.Nu2{
    flex-direction: row;
}
.Nu3{
    flex-direction: row;
}
.Nu4{
    flex-direction: row;
}
.Nu5{
    flex-direction: row;
}
.btn_form{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.input, .btn_submit,.btn_reset{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    border-bottom: solid rgb(10, 3, 70) .2rem;
    transition: all .5s;
}
.input:focus{
    border-bottom: solid darkred .2rem;
}
.btn_submit .btn_reset{
    width: 40%;
    border-bottom: none;
    background-color: rgb(97, 0, 0);
    color: forestgreen;
}
.btn_submit{
    color: white;
    background-color:rgb(0, 8, 119);
}
.btn_reset{
    color: white;
    background-color:rgb(150, 0, 35);
}
.btn_submit:hover{
    background-color: rgb(150, 0, 35);
}
.btn_reset:hover{
    background-color: rgb(0, 8, 119);
}

footer{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
}
.Pie de pagina{
    width: 800px;
    margin: auto;
}
footer h1{
    font-size: 10px;
    color: white;
    width: 120px;
    height: 100px;
    float: right;
    padding: 18px;
}
footer h2{
    font-size: 10px;
    color: white;
    float: left;
    padding: 18px;
}
header nav ul li{
    list-style: none;
    margin-left: 1px;
    margin-top: 25px;
    padding: 10px 0;
    padding-left: 1px;
    float:left;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer{
    background-color: rgb(150, 0, 35);
    width:100%;
    clear: both;
    content: '';
    display: table;
}
.menu li a:hover{
	background: rgb(102, 0, 24);
}
.parrafo1 p h4{
    text-align: right;
}
.parrafo1 img{
    width: 320px;
    height: 200px;
    float: left;
    padding: 12px;
}

.objetivos{
    padding-left: 50px;
}

.titulo1{
    padding-left: 50px;
}

.parrafooo1{
    padding-left: 20px;
}

.menu nav ul li a{
    padding: 25px;
}

.docentes{
    padding-left: 200px;
}

.docentes ul li ul{
    padding-left: 50px;
}

h3{
    padding-left: 20px;
}

.profesores{
    padding-left: 100px;
    padding-bottom: 100px;
}

ul{
    color: white;
}
.lima a img{
    width: 320px;
    height: 200px;
}